<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space</title>
    <link rel="shortcut icon" href="../static/imgs/s.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <script type="module" src="../static/main.js"></script>

    <div class="error-container">
        <h2>Error {{.Code}}</h2>
        <p>{{.Message}}</p>
    </div>

</body>

</html>