<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  <link rel="stylesheet" href="../static/css/alert.css" />

    <link rel="icon" href="../static/imgs/logo.png" type="image/x-icon">
</head>

<body>
    <section class="sectionLogin">
        <div class="logoAndName">
            <a href="/home">
                <img class="logo" src="../static/imgs/logo.png" alt="logo" />
            </a>
            <h2>Bluezone</h2>
        </div>
        <div class="alert"></div>
        <div class="wrapper">
         
            <div class="form-box login">
                <h2>Login</h2>
                <form action="" id="login">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <input type="text" id="email" required />
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                        <input type="password" id="password" required />
                        <label>Password</label>
                    </div>
                    <div class="remember-forgot">
                        <label><input type="checkbox" />Remember me</label><a href="#">Forgot Password?</a>
                    </div>
                    <button type="submit" class="btn">Login</button>
                    <div class="login-register">
                        <p>
                            Don't have an account?
                            <a href="#" class="register-link" onclick="window.location.href='/register'">Register</a>
                        </p>
                        <p>
                            Do you want to go back?
                            <a class="home-link" href="/home">Home</a>
                        </p>
                    </div>
                </form>
            </div>

        </div>
            <script type="module" src="../static/js/login.js"></script>
            <script type="module" src="../static/js/alert.js"></script>
            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>